<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="container">
		{{{body}}}
	</div>

 	<script src="https://unpkg.com/htmx.org@1.7.0"></script>
	
	<script>
		
		htmx.on('#new-todo-input', 'htmx:afterRequest', function(evt){
			evt.detail.elt.value = ''
		})

		htmx.on('htmx:afterSwap', function(evt){
			let items = document.querySelectorAll('#todo-list li')
			let mainFooter = document.getElementById('main-footer')

			if (items.length >0){
				mainFooter.style.display = 'block'
			} else {
				mainFooter.style.display = 'none'
			}
		})

		document.getElementById('new-todo-form').addEventListener('submit', 
			function(evt){
				console.log("submit")
				evt.preventDefault()
		})

	</script>
<body>
</html>
