<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		{{{body}}}
	</div>

 	<script src="https://unpkg.com/htmx.org@1.7.0"></script>
	
	<script>

		document.getElementById('new-todo-form').addEventListener('submit', 
			function(evt){
				console.log("submit")
				evt.preventDefault()
		})

	</script>
<body>
</html>
