<form id="new-todo-form">
	<input id="new-todo-input" name="todo" action="/todos" placeholder='What needs to be done?' 
		autofocus 
		hx-target="#todo-list"	
		hx-swap="beforeend"
		hx-post="/todos"
		hx-trigger="keyup[key=='Enter']"
	>
</form>

<!--
<form action="/toggle-all" method="put">
	<input id="toggle-all" type="checkbox"
		onclick="this.form.submit()">
	<label for="toggle-all">Mark all as complete</label>
</form>
-->

<ul id="todo-list" class="todo-list">
{{#if todos}}
{{#each todos }}
	{{>todo-item todo=this}}
{{/each}}
{{/if}}
</ul>

<div id="main-footer" class="">
<span
	id="items-count"
	hx-get="/items-count"
	hx-trigger="itemAdded from:body, itemCompletionToggled from:body, itemDeleted from:body"
>	
	{{>items-count count=count}}
</span>
</div>

